
* {
    box-sizing: border-box;
}

body {
    color: #777777;
    font-family: 'Ariel', 'Helvetica Neue', Helvectica, sans-serif;
}

header {
    float: left;
    padding: 20px;
    margin: 0 auto;
    color: white;
    background: #4aaaa5;
}

nav {
    float: left;
    padding: 10px 40px 30px 40px;
    margin: 10px 20px 30px 40px;
    color: gray;
    background: white;
}

.header-container {
    padding: 20px;
    margin: 0 auto;
    color: white;
    background: #ffffff;
    border: #cccccc;
}
.container {
    margin: 0 auto;
    width: 960px;
    background: #ffffff;
    border: #dddddd;
}

