

body {
    width: 960px;
    height: 1200px;
    font: #777777;
    background: #ffffff;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-container {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 0 auto;
    margin-top: 0;
    margin-right: 20px;
    width: 100%;
    height: 100px;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.main-container {
    padding: 0 auto;
    margin-top: 0;
    margin-right: 20px;
    width: 100%;
    height: 400px;
    background: #ffffff;
    border: 10px solid #dddddd;
}

#name {
    float: left;
    padding-top: 40px;
    margin-left: 100px;
    color: white;
    background: #4aaaa5;
    height: 100px;
    width: 270px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
}

#nav {
    float: right;
    padding-top: 40px;
    margin-right: 10px;
    color: gray;
    background: white;
}

#headshot {
    float: left;
    padding: 10px 40px 30px 40px;
    margin: 10px 20px 30px 40px;
    height: 20%;
    width: 20%;
    transform: rotate(90deg);
}

#title {
    text-align: left;
    padding: 20px 10px 20px 10px;
    margin-left: 20px;
    height: 100px;
    width: 270px;
    font-size: 34px;
    color: #4aaaa5;

}
